body {
  margin: 0px;
  font-family: 'Open Sans';
}

.text-bold {
  font-weight: 800;
  color: #FFFFFF;
}

.input-area {
  width: 50%;
  height: 700px;
  background-color: #455A64;
  text-align: center;
}

.logo{
  display: inline-block;
}

input {
  display: block;
  text-align: center;
}

section.bookmarks {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;
  height: 700px;
  background-color: #CFD8DC;
}
