body {
  background-color: #CFD8DC;
  margin: 0px;
  font-family: 'Open Sans';
}

.text-bold {
  font-weight: 800;
  color: #FFFFFF;
}

.text-regular {
  font-weight: 400;
}

.input-area {
  width: 50%;
  height: 700px;
  background-color: #455A64;
  text-align: center;
}

h1{
  margin: 0px;
  padding-top: 81px;
  font-size: 50px;
}

input {
  display: block;
  text-align: center;
  margin: 33px auto;
  width: 85%;
  height: 25px;
  padding: 10px 0px;
  font-size: 30px;
  font-weight: 300;
}

.button-style {
  border-style: none;
  background-color: #FFC107;
  width: 85%;
  height: 50px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.button-style:hover {
  background: #FFD773;
}

fieldset {
  border: none;
}

p {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 10px 0px 10px;
  border-width: 0px;
}

section.bookmarks-list {
  background-color: #CFD8DC;
  width: 50%;
  height: 700px;
  position: absolute;
  right: 0px;
  top: 0px;
}

div.bookmark {
  margin: 20px auto 0px;
  width: 90%;
  height: 146px;
  border: 2px solid #607DB8;
  background-color: #FFFFFF;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.read-count{
  background-color: #F2F4F4;
}

h2 {
  color: #455A64;
  margin: 6px 0px -9px 3%;
  font-weight: 600;
}

.break {
  margin: 15px auto;
  width: 94%;
  height: 2px;
  background-color: #CFD8DC;
}

a {
  text-decoration: none;
  color: #607D8B;
  margin: 15px 0px 15px 3%;
}

.read, .delete {
  text-decoration: none;
  background-color: transparent;
  color: #455A64;
  border: 0px;
  border-bottom: 1px solid #CFD8DC;
}

.read {
  float: left;
  margin: 0px 0px 0px 3%;
}

.delete {
  float: right;
  margin: 0px 3% 0px 0px;
}

.original-underline {
  text-decoration: none;
  border-bottom: 1px solid #F2F2F4;
}

.original-underline:hover{
  border-bottom: 1px solid #FFC107;
  font-weight: 600;
}

.activated {
  border-bottom: 1px solid #CFD8DC;
}

.read-button-toggled {
  color: #F05A28;
  font-weight: 600;
}

@media screen and (max-width: 749px) {

  body {
    display: block;
  }

  h1 {
    padding-top: 20px;
  }

  input {
    margin: 23px auto;
  }

  .input-area {
    top: 0px;
    width: 100%;
    height: 50%;
    background-color: #455A64;
    text-align: center;
  }
  section.bookmarks-list {
    position: static;
    background-color: #CFD8DC;
    width: 100%;
    height: 50%;
  }

  .text-bold {
    font-weight: 800;
    font-size: 30px;
    color: #FFFFFF;
  }

  img {
    width: 40px;
  }

}
